@import '../style/fontello/css/fontello.css';
.fontello {
    display: inline-block;
    margin-right: 10px;
    font-size: 18px;
}
html {
    height: 100%;
}
body {
    line-height: 1.4;
    color: #5a6580;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #f4f4f3;
    height: 100%;

}

a, a:link, a:visited, a:focus, a:hover, a:active{
    text-decoration:none;
    cursor: pointer;
}


ul {
    padding-left:0;
    li {
        list-style-type:none;
    }
}

#root {
    height: 100%;
}
.container  {
    max-width: 1024px;
    background-color: #fff;
    margin: 0 auto;
    min-height: 100%;
    display: flex;
    & .menu {
        flex: 0 0 180px;
        background-color: #1c283c;
        color:#717d99;
        & .avatar {
            text-align:center;
            margin-top: 20px;
            img {
                width: 120px;
                height: 120px;
                border: 1px solid transparent;
                border-radius: 100%;
            }
        }

        & .menu-list {
            li {
                display: flex;
                align-items: center;
                cursor: pointer;
                height: 40px;
                padding-left:10px;
                a {
                    color:#717d99;
                    &:hover{
                        color:#fff;
                    }
                }

                &:hover{
                    color: #fff;
                    background-color: #000;
                }
            }
        }
    }

    & .content {
        flex: auto;
        .content-title {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100px;
            font-size: 40px;
            font-weight: bold;
            background: #fafafe;

        }
    }
}
